a {
  text-decoration: none;
}

.bg_color {
  text-decoration: none;
  color: #ccc ;
  background: rgb(22, 101, 52);
  background: linear-gradient(
    90deg,
    rgba(22, 101, 52, 1) 0%,
    rgba(17, 94, 89, 1) 50%,
    rgba(12, 74, 110, 1) 100%
  );
}

.bg_color:hover{
    color: #fff ;
}
